.addContainer{
 display: grid;
 grid-template-columns:15% 70% 15%;
 grid-template-rows: 20% 50% 30%;
 height: 100%;
}
.leftSideWindow{
  background-color: aliceblue;
  grid-row: 1/-1;
}
.rightSideWindow{
    background-color: antiquewhite;
    grid-column: 3/-1;
    grid-row: 1/-1;
}
.configurationWindow{
    background-color: aquamarine;
}
.additionWindow{
    background-color: bisque;
}
.tableWindow{
    background-color:burlywood;
}